.flashcard_container{
    height: 300px;
    width: 500px;
    padding-bottom: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    perspective: 1000px;
    position: relative;
}
p{
    text-align: center;
}