/* #root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  } */
  .App{
    width: 100vw;
    height: 100vh;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
  #wrong {
    background-color:rgb(219, 93, 93);
  }
  
  #correct {
    background-color:rgb(191, 116, 191);
  }
  .input{
    text-align: center;
  }
  .input p, input, button{
    display: inline-block;
    margin-right: 5px;
  }
  .buttons{
    text-align: center;
  }
